
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!-- Basic metas
    ======================================== -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg">
    <!-- Page Title
    ======================================== -->
    <title>Nest Documentation</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,700i,900" rel="stylesheet">
    <!-- Syntax Highlighter -->
    <link rel="stylesheet" type="text/css" href="assets/syntax-highlighter/styles/shCore.css" media="all">
    <link rel="stylesheet" type="text/css" href="assets/syntax-highlighter/styles/shThemeDefault.css" media="all">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/vendor/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="assets/css/vendor/perfect-scrollbar.css">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Header starts -->
    <a href="#top" class="back-to-top"><i class="fa fa-arrow-up"></i></a>
    <header class="page-header sticky-top" id="top">
        <div class="container-fluid">
            <nav class="page-nav">
                <a href="https://alithemes.com" class="nav-brand">
                    <img src="assets/images/logo-alithemes.svg" alt="logo" width="158">
                </a>
                <div class="nav-list">
                    <a href="http://wp.alithemes.com/html/nest/demo/" target="_blank">Live Demo</a>
                    <a href="https://alithemes.ticksy.com/" target="_blank">Support</a>
                    <a href="#" class="toggle-navbar"><i class="far fa-bars"></i></a>
                </div>
                <!-- End of .nav-list -->
            </nav>
        </div>
        <!-- End of .container -->
    </header>
    <!-- End of .page-header -->
    <div>@RenderBody()</div>
    <footer class="page-footer">
        <div class="container-fluid text-center">
            <p>&copy; 2021, <strong class="text-brand">Nest</strong> - HTML Ecommerce Template</p>
        </div>
        <!-- End of .page-footer -->
    </footer>


